# DATABSE SPECIFIC VARIABLES
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_DB="sports_dashboard"
POSTGRES_PORT="5432"
DATABASE_URL="postgresql://admin:password@localhost:5432/sports_dashboard"